/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  position: relative;
  color: white;
  width: 100vw;
  height: 100vh;
  background: #303030;
  font-family: 'Meiryo', sans-serif;
  margin: 0;
}

header {
  position: sticky;
  top: env(titlebar-area-y, 0);
  height: env(titlebar-area-height, 30px);
  padding-left: env(titlebar-area-x, 0);
  background: #303030;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  display: flex;
  align-items: center;
  color: '#ccc';
  font-size: 14px;
  user-select: none;
}
& > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: env(titlebar-area-width, 100%);
  min-height: 100%;
  max-height: 100%;
  padding-inline: 5px;
}
.app-title {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;;
  font-size: 12px;
  color:#ccc;
}
.titlebar-button {
  height: 20px;
  margin: 3px;
  margin-left: 5px;
  font-size: 12px;
  /* transform: scale(0.7, 1); */
  -webkit-app-region: no-drag;
  background: transparent;
  border: none;
  color: #ccc;
  border-radius: 3px;
}
.titlebar-button:hover {
  background: #555;
}

button {
  font-size: 12px;
  /* height: 80%; */
  /* transform: scale(0.7, 1); */
  background: transparent;
  border: none;
  color: #ccc;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background: #555;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.test {
  width: 600px;
}

.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  overflow-x: hidden;
  /* white-space: nowrap; */
}

.breadcrumb li {
  position: relative;
  display: inline-block;/*横に並ぶように*/
  list-style: none;
  margin-right: 1em;
  font-size: 12px;
  color: #888;
  /* margin-left: 3px; */
  padding-left: 3px;
}
.breadcrumb li:after {/*三角の部分*/
  content: ">";
  padding: 0 0.2em;
  position: absolute;
}

.breadcrumb li:last-child:after {
  content: '';
}

.masonry-card-img:hover {
  filter: brightness(0.7)
}
/* .masonry-card:focus {
  border: 2px solid #0880ff;
  translate: -2px -2px;
} */
